/* BASIC STYLES HERE */
#backgroundGoHere {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.weather-container {
  background-color: rgba(5, 5, 5, 0.4);
  width: fit-content;
  color: rgb(250, 250, 250);
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
}
